In [34]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from sklearn.metrics import silhouette_score

In [35]:
# 读取四张表的数据
# 读取了订单和产品id的关联
prior = pd.read_csv("./data/instacart/order_products__prior.csv")

In [36]:
# 产品id，与过道的对应
products = pd.read_csv("./data/instacart/products.csv")

In [37]:
# 订单id和用户id的对应
orders = pd.read_csv("./data/instacart/orders.csv")

In [38]:
# 超市的过道，过道放的产品的品类
aisles = pd.read_csv("./data/instacart/aisles.csv")

In [39]:
prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [40]:
products.head()  # 产品id，产品名称，过道id

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [41]:
orders.head()  # 订单id,用户id

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [42]:
aisles.head()  # 过道id，对应过道放了哪些产品类别

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [43]:
# 合并四张表到一张表(用户-物品类别)
# 订单表和产品表关联
# 用户买了哪些订单，订单里面有哪些产品，产品对应的过道，过道对应的产品类别
_mg = pd.merge(prior, products, on=['product_id', 'product_id'])
_mg = pd.merge(_mg, orders, on=['order_id', 'order_id'])
mt = pd.merge(_mg, aisles, on=['aisle_id', 'aisle_id'])

In [44]:
mt.head(10)

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,aisle
0,2,33120,1,1,Organic Egg Whites,86,16,202279,prior,3,5,9,8.0,eggs
1,2,28985,2,1,Michigan Organic Kale,83,4,202279,prior,3,5,9,8.0,fresh vegetables
2,2,9327,3,0,Garlic Powder,104,13,202279,prior,3,5,9,8.0,spices seasonings
3,2,45918,4,1,Coconut Butter,19,13,202279,prior,3,5,9,8.0,oils vinegars
4,2,30035,5,0,Natural Sweetener,17,13,202279,prior,3,5,9,8.0,baking ingredients
5,2,17794,6,1,Carrots,83,4,202279,prior,3,5,9,8.0,fresh vegetables
6,2,40141,7,1,Original Unflavored Gelatine Mix,105,13,202279,prior,3,5,9,8.0,doughs gelatins bake mixes
7,2,1819,8,1,All Natural No Stir Creamy Almond Butter,88,13,202279,prior,3,5,9,8.0,spreads
8,2,43668,9,0,Classic Blend Cole Slaw,123,4,202279,prior,3,5,9,8.0,packaged vegetables fruits
9,3,33754,1,1,Total 2% with Strawberry Lowfat Greek Strained...,120,16,205970,prior,16,5,17,12.0,yogurt

In [45]:
mt.shape

(32434489, 14)

In [46]:
mt.isnull().sum() / mt.shape[0]  # 数据缺失率，没有缺失值

order_id                  0.00000
product_id                0.00000
add_to_cart_order         0.00000
reordered                 0.00000
product_name              0.00000
aisle_id                  0.00000
department_id             0.00000
user_id                   0.00000
eval_set                  0.00000
order_number              0.00000
order_dow                 0.00000
order_hour_of_day         0.00000
days_since_prior_order    0.06407
aisle                     0.00000
dtype: float64

In [47]:
# 交叉表(特殊的分组工具)，内存不够进行聚类
cross = pd.crosstab(mt['user_id'], mt['aisle'])

In [48]:
cross.head(10)

aisle,air fresheners candles,asian foods,baby accessories,baby bath body care,baby food formula,bakery desserts,baking ingredients,baking supplies decor,beauty,beers coolers,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,0,3,0,0,0,0,2,0,0,0,...,3,1,1,0,0,0,0,2,0,42
3,0,0,0,0,0,0,0,0,0,0,...,4,1,0,0,0,0,0,2,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,5
8,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,6,0,2,0,0,0,...,0,0,0,0,0,0,0,2,0,19
10,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [49]:
# 针对20万用户，有134个特征
cross.shape

(206209, 134)

In [50]:
type(cross)

pandas.core.frame.DataFrame

In [51]:
# 进行主成分分析
pca = PCA(n_components=0.9)

In [52]:
data = pca.fit_transform(cross)
data.shape

(206209, 27)

In [53]:
type(data)

numpy.ndarray

In [54]:
# 把样本数量减少，为了下面画图方便，这里取500个样本
x = data[:500]
x.shape

(500, 27)

In [55]:
x[0:10]

array([[-2.42156587e+01, -2.42942720e+00, -2.46636975e+00,
         1.45686388e-01,  2.69042476e-01, -1.43293209e+00,
        -2.14067666e+00,  2.73803122e+00, -2.71431623e+00,
        -1.74313529e+00, -1.13632718e+00,  6.73601069e-01,
        -1.65070735e+00,  2.83802486e+00,  5.89384489e+00,
        -7.84312891e+00, -4.84010146e+00, -3.22598697e+00,
        -4.58007571e+00,  7.77403349e-01, -3.69912893e+00,
         1.90721439e+00, -2.99538594e+00, -7.72922878e-01,
         6.86800336e-01,  1.69439402e+00, -2.34323022e+00],
       [ 6.46320806e+00, -3.67511165e+01,  8.38255336e+00,
        -1.50975303e+01, -6.92093785e+00, -9.78375183e-01,
        -6.01156653e+00, -3.78772465e+00, -8.18074883e+00,
        -9.04086141e+00, -5.61352902e+00, -1.11325323e+00,
         2.96702911e+00, -4.73123497e+00, -9.11472283e+00,
        -2.14709471e-01,  1.29694031e+00, -7.37605505e-01,
        -7.37401979e-01,  7.40042249e-01, -9.13382968e-02,
         5.15128465e+00,  4.58481528e+00,  3.23789431e+00,
         4.12121252e+00,  2.44689740e+00, -4.28348478e+00],
       [-7.99030162e+00, -2.40438257e+00, -1.10300641e+01,
        -6.72230096e-01, -4.42368029e-01, -2.82327194e+00,
         6.28414012e+00, -6.51250946e+00, -2.14863353e+00,
        -1.58525733e+00,  8.28813958e+00, -2.66151647e+00,
        -4.50773836e+00,  1.19764737e+00,  6.93186953e-01,
        -2.03281164e+00, -2.15050796e+00,  5.43473349e+00,
        -3.60484175e+00,  4.28279419e+00, -4.45833616e-01,
         3.03933749e+00,  1.46956568e+00,  2.94665603e+00,
         1.77534453e+00, -4.44194030e-01,  7.86665571e-01],
       [-2.79911291e+01,  7.55822760e-01, -1.92173207e+00,
        -2.09188771e+00, -2.88231934e-01,  9.26177341e-01,
        -8.27127057e-01, -6.14848545e-01,  3.78198802e-02,
        -8.90672448e-01, -3.72088202e-01, -9.85771637e-01,
         1.22495060e+00, -1.09639889e+00, -1.87159972e+00,
        -7.10463022e-01,  6.75146395e-01, -2.62095591e-01,
        -7.10689458e-02, -2.28812201e-01, -6.06522210e-01,
         3.67203966e-01, -9.98709579e-01,  1.77374812e-01,
         7.54646031e-01,  1.35817221e-01, -5.00043313e-01],
       [-1.98963936e+01,  2.63722464e+00,  5.33228944e-01,
        -3.67922837e+00,  6.12824980e-01, -1.62400824e+00,
         3.93577123e+00, -2.00462740e+00,  1.00208961e+00,
         3.08574683e+00, -5.50145774e-01,  2.87433706e-01,
         4.11277359e-01, -2.64715919e+00,  6.28331685e-02,
         1.65193116e-01, -4.81514320e-01,  1.64452919e+00,
        -4.03108796e-01,  1.36899942e-01, -2.57981162e-01,
         2.05400491e-01, -2.83754054e-01, -3.83840932e-01,
        -1.93524072e-01, -6.45446295e-03, -2.08896003e-01],
       [-2.64697723e+01,  4.68042570e+00,  4.64557305e-01,
        -2.91452624e+00,  2.76753747e-01,  4.50849758e-01,
         6.17645819e-01, -1.36215062e+00, -8.78502640e-02,
         1.04054593e+00, -1.29224191e-02, -7.72674027e-01,
        -1.05021630e+00, -3.84457799e-01, -6.50245651e-01,
        -6.13803784e-01, -3.15793193e-01,  4.45930153e-01,
        -3.11288889e-01,  2.86938163e-01, -1.07310998e-01,
         6.65099620e-02, -1.56723355e-01, -1.59418792e-01,
        -8.45564389e-02, -3.76327213e-01, -1.50797713e-01],
       [ 6.43209799e+00, -5.20763684e+00, -5.37622059e+00,
         5.03559798e+00, -1.55767996e+00, -7.73522520e+00,
        -3.65929977e+00, -1.36194664e+01,  1.99127136e+01,
        -3.87327108e+00,  2.10011278e+00, -2.67040732e+00,
        -3.92512694e+00,  2.84756844e+00, -2.99126238e+00,
        -4.13848691e+00,  4.59204143e+00,  2.66185949e+00,
        -3.19197384e+00,  1.21530631e+00, -1.45136887e+00,
         2.61171430e+00,  5.35780919e+00, -1.67350589e-01,
         3.68044142e+00,  5.13104043e+00, -2.44269167e+00],
       [-1.47587512e+01,  1.48684622e+01,  5.26133999e+00,
        -2.72312827e+00, -4.41192804e-01,  1.77040069e+00,
        -1.74849912e+00,  3.44199907e-01, -4.91075999e-01,
         7.21488180e-01, -2.07273731e-01, -8.11480837e-01,
        -1.49222116e+00,  6.44199120e-01, -7.40158282e-01,
        -1.66319300e+00, -7.31046033e-01,  1.27234895e+00,
        -7.04458786e-01, -1.38317595e-01,  4.33882990e-01,
        -1.18706848e+00,  3.63571463e-01, -3.12302788e-01,
         1.08780259e+00, -7.86800582e-01, -1.10628088e+00],
       [-1.96448729e+01, -1.26189013e+01,  9.83832433e+00,
        -5.96574917e+00,  3.25687125e+00,  2.32791585e+00,
        -6.73245565e-03, -3.08230596e+00, -2.02937972e+00,
        -2.19119257e+00, -5.76293826e-01,  2.98996645e+00,
        -2.47415700e+00, -2.88953834e+00, -3.31359457e-01,
        -1.21583350e-01,  1.46034805e+00, -1.54383264e+00,
        -2.46265921e+00, -9.20833430e-01, -2.09191478e+00,
         6.57037453e-02, -1.15878119e+00, -4.98714845e-01,
         6.28224832e-01, -8.20937502e-01, -1.02610380e+00],
       [ 4.06313864e+00,  1.54398182e+01,  2.77360399e+00,
        -1.84179405e+00,  7.00877536e-01, -3.93387952e+00,
         3.89695552e+00, -9.00116964e-01, -2.15791311e+00,
         6.78592732e-01, -7.31465145e+00, -3.25791681e+00,
        -4.73315648e+00,  1.19352292e+00, -1.62849209e+00,
        -3.81328812e+00, -1.68239105e+00,  2.85570315e+00,
        -8.93176379e-01, -2.53824756e+00, -1.41322471e-01,
         4.26790007e-01,  4.48191235e+00, -3.74732433e+00,
        -1.03797787e+00, -9.22191838e-01, -7.55201486e+00]])

In [56]:
x.max()

np.float64(407.1856341824979)

In [57]:
x.min()

np.float64(-144.56766126863667)